PORT="42069"
DATABASE_URL="postgresql://user:password@host:port/database"
CACHE_URL="rediss://default:password@host:port"
PRIVATE_JWKS='{"keys":[{"kty":"RSA","n":"<your-private-key-n>","e":"AQAB","d":"<your-private-key-d>","p":"<your-private-key-p>","q":"<your-private-key-q>","dp":"<your-private-key-dp>","dq":"<your-private-key-dq>","qi":"<your-private-key-qi>","use":"sig","alg":"RS256","kid":"<your-key-id>"}]}'
PUBLIC_JWKS='{"keys":[{"kty":"RSA","n":"<your-public-key-n>","e":"AQAB","use":"sig","alg":"RS256","kid":"<your-key-id>"}]}'